# compiled output
/dist/
/node_modules
/build/

# Logs
logs
*.log

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# testing
/coverage

# next.js
/.next/
/out/

# dependencies
**/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# production
/build

# dotenv environment variable files and misc
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
*.pem

# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# local env files
.env*.local
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# js
# src/scripts/*

# scss
# src/styles/all.scss

# помошники
GitHub Команды.txt
git.txt
info.txt
infoMy.txt
webpack*
desktop.ini

# настройки
.vscode

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json





# СВОЁ пока не нужное 
# папка временных/пока не нужных файлов. для игнора и случайно залитых
vr/
.env
backend/dist/
backend/README.md
**/red-planner-front-end/**
**/red-planner-back-end/**
test/
# dtos/
# dist/

# ^ общ.врем.ОТКЛ.
**/static/**

# ^ общ.врем.ИСКЛЮЧЁННЫЕ
# папки 
!/**/src/configs/auth/
# все.ф.в п. 
# !/**/src/common/decorators/**
# ф.
!/**/src/configs/auth/auth.ts